@{
    ViewData["Title"] = "Home Page";
}
<body>
    <canvas id="myCanvas" width="500" height="500" style="border:0px solid #000;">
        Grid not supported.
    </canvas>
    <input id="color-text" placeholder="Enter a color (000000)">
    <button onclick="changeColor()">Change Color</button>  @* <--- change this out of hardcode! *@
    <button onclick="undoLast()">Undo</button> @* <--- change this out of hardcode! *@
    <button onclick="exportGrid()">Save For Later</button>
    <script src=grid.js></script>
</body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Testing</p>
    <a href="http://ranbiajim-project2-client.azurewebsites.net/api/weatherforecast">weather</a>
</div>
