@{
    ViewData["Title"] = "Home Page";
}
<body>
    <canvas id="myCanvas" width="1000" height="950" style="border:0px solid #000;">
        Grid not supported.
    </canvas>
    <button onclick="undoLast()">Undo</button>
<!--        ^bad, because hardcoding-->
    <script src=grid.js></script>
</body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Testing</p>
</div>
