<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="~/css/site.css" />
</head>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="headings"><strong>Welcome to PixelPerfect!</strong></h1>
</div>
<br>
<br>

<table class="tabla">
  <th id="table">
    <tr>
      <td>
        <h4>
          <form action="/user/loginuser" method="get">
            <button class="boton" type="submit">Login</button>
          </form>
        </h4>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <h4>
          <form action="/user/createuser" method="get">
            <button class="boton" type="submit">Sign up</button>
          </form>
        </h4>
      </td>
    </tr> 
  </th> 
</table>

<img class="img1" src="https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/74/c1/9e/74c19e27-4281-ca33-e988-6639db37e0a9/source/512x512bb.jpg" alt="pixel art">

