<head>
  <style>
    h1{
      color: green;
      text-align: center;
    }
  </style>
</head>

@model Project2.Client.Models.UserViewModel

<h1>@Model.FirstName, here are your previous grids!</h1>
<br>
<br>
<form action="/user/usermenu" method="get">
  <button type="submit">Back to Menu</button>
</form>