<head>
  <style>
    h1{
      color: darkgreen;
      text-align: center;
    }
  </style>
</head>

@model Project2.Client.Models.UserViewModel

<h1>Bye @Model.FirstName, hope to see you soon!</h1>
<br>
<br>