<head>
  <title>User Logout</title>
  <link rel="stylesheet" href="~/css/site.css" />
</head>

@model Project2.Client.Models.UserViewModel

@{
    ViewBag.Title = "User Logout";
}

<h1 class="headings">Bye, hope to see you soon!</h1>
<br>

<img class="img3" src="https://res.cloudinary.com/tshirtwala/image/upload/wpimages2/2017/01/LINUX-8BIT.jpg" alt="pixel art">

