<head>
  <style>
    button{
      color: white;
      background-color: darkblue;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkblue;
      border-style: solid;
      border-width: 2px;
    }
  </style>
</head>

@model Project2.Client.Models.GridViewModel

<body>
    <form action="/user/usermenu" method="get">
      <button type="submit">Back to Menu</button>
    </form>
    <br>
    <br>
    <br>
    
    <canvas id="myCanvas" width="500" height="500" style="border:0px solid #000;">
        Grid not supported.
    </canvas>
    <p></p>
    <input id="color-text" placeholder="Enter a color (000000)">
    <button onclick="changeColor()">Change Color</button>  @* <--- change this out of hardcode! *@
    <button onclick="undoLast()">Undo</button> @* <--- change this out of hardcode! *@
    <button onclick="exportGrid()">Save For Later</button>
    <script src=grid.js></script>
</body>