<head>
  <style>
    button{
      position: relative;
      color: white;
      background-color: darkblue;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkblue;
      border-style: solid;
      border-width: 2px;
    }
  </style>
</head>

@model Project2.Client.Models.GridViewModel

@{
    ViewBag.Title = "New Grid";
}

<body>
    <form action="/user/usermenu" method="get">
      <button type="submit">Back to Menu (without saving changes)</button>
    </form>
    <br>
    <div class="gridButtons">
      <input id="color-text" placeholder="Enter a color (000000)">
      <button onclick="changeColor()">Change Color</button> @* <--- change this out of hardcode! *@
      <button onclick="undoLast()">Undo</button>@* <--- change this out of hardcode! *@
      <button onclick="exportGrid()">Save For Later</button> @* <--- change this out of hardcode! *@
    </div>
    <br>
    <br>
    
    <canvas id="backgroundGrid" width="500" height="500" style="position: absolute; left: 200: top: 0; z-index: 0;">
        Grid not supported.
    </canvas>
    <canvas id="myCanvas" width="500" height="500" style="position: absolute; left: 200: top: 0; z-index: 1;">
        Grid not supported.
    </canvas>
    <script type="text/javascript">
      let chosenWidth = '@(Model.Width)';
      let chosenHeight = '@(Model.Height)';
      let gridName = '@(Model.Name)';
    </script>
    <script src=site.js> </script>>
</body>