<head>
  <title>previous Grids</title>
  <style>
    h1{
      color: green;
      text-align: center;
    }
    h2{
      text-align: center;
    }
    img{
      text-align: center;
    }
    button{
      color: white;
      background-color: darkblue;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkblue;
      border-style: solid;
      border-width: 2px;
    }
  </style>
</head>

@model Project2.Client.Models.UserViewModel

@{
    ViewBag.Title = "Previous Grids";
}

<h1>Here are your previous grids</h1>
<h2>Work in progress</h2>
<br>
<br>
<form action="/user/usermenu" method="get">
  <button type="submit">Back to Menu</button>
</form>