<head>
  <title>Successful Account Creation</title>
  <link rel="stylesheet" href="~/css/site.css" />
</head>

@model Project2.Client.Models.UserViewModel

@{
    ViewBag.Message = "Successful Account Creation";
}



<h1 class="headings">@Model.FirstName, your account was successfully created!</h1>

<br>
<form action="/user/loginuser" method="get">
  <button class="boton" type="submit">Login</button>
</form>
<br>
<br>
<br>

<img class="img4" src="https://thumbs.dreamstime.com/b/ice-cream-pixel-art-isolated-cone-white-background-115186204.jpg" alt="pixel art">