<head>
  <title>User Menu</title>
  <style>
    img{
      text-align: center;
      max-width: 80%;
      padding-left: 35%;
      margin-left: auto;
      margin-right: auto;
    }
    h1{
      color: green;
      text-align: center;
    }
    input{
      color: white;
      background-color: darkblue;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border-color: darkblue;
      border-style: solid;
      border-width: 2px;
    }
  </style>
</head>

@model Project2.Client.Models.UserViewModel

@{
    ViewBag.Title = "User Menu";
}

<h1>What would you like to do?</h1>
<br>
<br>

<table style="margin-left:auto;margin-right:auto;">
  <th id="table">
    <tr>
      <td>
        <form action="/user/choosesizegrid" method="get">
          @Html.HiddenFor(model => model)
          <h3><input type="submit" value="New Grid"></h3>
        </form>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <form action="/user/previousgrids" method="get">
          @Html.HiddenFor(model => model)
          <h3><input type="submit" value="Previous Grids"></h3>
        </form>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <form action="/user/logoutuser" method="get">
          @Html.HiddenFor(model => model)
          <h3><input type="submit" value="Logout"></h3>
        </form>
      </td>
    </tr>
  </th>
  
</table>
<br>
<br>
<br>

<img src="https://i.pinimg.com/736x/01/a0/9d/01a09d9a7aee70e5139d4f1b971adba0--pixel-art-program-online-drawing-program.jpg" alt="pixel art">