<head>
  <title>User Menu</title>
  <link rel="stylesheet" href="~/css/site.css" />
</head>

@model Project2.Client.Models.UserViewModel

@{
    ViewBag.Title = "User Menu";
}

<h1 class="headings">What would you like to do?</h1>
<br>
<br>

<table style="margin-left:auto;margin-right:auto;">
  <th id="table">
    <tr>
      <td>
        <form action="/user/choosesizegrid" method="get">
          @Html.HiddenFor(model => model.Username)
          <h3><input class="boton" type="submit" value="New Grid"></h3>
        </form>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <form action="/user/previousgrids" method="get">
          @Html.HiddenFor(model => model.Username)
          <h3><input class="boton" type="submit" value="Previous Grids"></h3>
        </form>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <form action="/user/logoutuser" method="get">
          @Html.HiddenFor(model => model.Username)
          <h3><input class="boton" type="submit" value="Logout"></h3>
        </form>
      </td>
    </tr>
  </th>
  
</table>
<br>
<br>
<br>

<img class="img5" src="https://i.pinimg.com/736x/01/a0/9d/01a09d9a7aee70e5139d4f1b971adba0--pixel-art-program-online-drawing-program.jpg" alt="pixel art">